* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    font-size: 16px;
}
footer {
    background-color: black;
}
    .py-50 {
        padding-top: 50px;
    }

/* classi di layout*/

/*  container*/

.container-full {
    width: 100%;
}

.container-lg {
    width: 1400px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*FINE CONTAINER*/
    

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content {
    display: flex;
    justify-content: space-between;
}
.align-item-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}
.text-align-justify {
    text-align: justify;
}
    

.d-flex {
    display: flex;
}

.jumbo-arrow {
    font-size: 70px;
    padding: 20px 10px;
}

.margin-bottom-75 {
    margin-bottom: 75px;
}
.margin-top-75 {
    margin-top: 75px;
}
/* fine classi di layout*/

/* colonne*/

.col-20 {
    width: calc(100% / 5);
    
    border: 1px solid black;
   
}



.col-100 {
    width: 100%;
    
    border: 1px solid black;
   
}

.col-40 {
    width: 40%;
   
    border: 1px solid black;
   
}

.col-50 {
    width: 50%;
   
    border: 1px solid black;
  
}

.col-60 {
    width: 60%;
 
    border: 1px solid black;
  
}

.col-33 {
    width: calc(100% / 3);
    
    border: 1px solid black;
    
}

/*fine colonne*/

/*classi di stile*/

.nav-menu {
    display: flex;
    list-style-type: none;
    
}

.menu-style {
    text-decoration: none;
    color: black;
}

.nav-menu li {
    padding: 15px 10px;
}



img {
    width: 100%;
}

/*background*/
.bg-lightblue {
    background-color: lightblue;
}



.content {
    margin: 10px;
}

/*square section*/

.square-section {
    display: flex;
}

.square {
   width: calc(100% / 3);
   height: calc(100vw / 3);
   background-color: silver;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

.small-square {
    width: 50%;
    height: 50%;
    border: 1px solid black;
}

/*fine square section*/

.margin-50 {
    margin: 50px;
}

/*btn style*/

#btn {
    background-color: #0057E5;
    color:white;
    text-decoration: none;
    padding: 8px 16px;
    
}

.jumbo-cta {
    background-color: #0057E5;
    color:white;
    text-decoration: none;
    padding: 8px 16px;
}
/* fine btn-style*/

/*.find-partner*/
.find-partner {
    background-color: white;
    border: 1px solid black;
}


/*plan*/
.plan-type {
    border: 1px solid gray;
    width: 70%;
}
.content-plan {
    border: 1px solid gray;
   /* min-height: 250px;*/
    width: 70%;
}

.cta {
    background-color: blue;
    color: white;
}

.cta-white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.cta-link {
    color: blue;
    text-decoration: underline;
}

hr {
    width: 30%;
    border: 3px solid black;
    display: inline-block;
}
/*plan*/

/*faq*/
.faq {
    border-bottom: 1px solid black;
}

/*footer content*/
.footer-title {
    color: white;
}

.footer-list li {
    color: white;
}
.hr-footer {
    color: white;
    border: 1px solid white;
}

.lang {
    color: white;
}

/*titoli*/
h1 {
    font-size: 105px;
}
/*fine titoli*/

/*paragrafi*/
.jumbo-text {
    font-size: 20px;
}


